<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Regina-Gas-Stations/blob/main/Regina_Gas_Station_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading the Dataset

In [6]:
import pandas as pd

df = pd.read_excel('/content/Regina Gas Stations.xlsx')
df

                        Name          Location  Phone Number
0                        NaN                NaN           NaN
1                      Mobil     Albert Street   306-790-1228
2                      Esso      Albert Street   306-584-7185
3   Canadian Tire - Gas Plus     Albert Street   306-585-3319
4              Co-op Gas Bar     Albert Street   306-791-8890
..                       ...                ...           ...
64             Cowessess Gas      SK-33 Highway  306-359-6777
65             Petro Canada     Gravel Pit Road  306-525-6033
66         Petro Pass Regina        529 1 Ave E  306-721-6667
67             Co-op Gas Bar  Great Plains Road  306-791-5707
68                      Esso  Great Plains Road  306-781-2580

[69 rows x 3 columns]

# Removing the empty Row

As you can see the first row has `NaN` values which means its not a number value. We need to remove it.

In [7]:
df = df.drop(0)

# Information about the Data Frame

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 1 to 68
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           68 non-null     object
 1   Location       68 non-null     object
 2   Phone Number   68 non-null     object
dtypes: object(3)
memory usage: 1.7+ KB

What we can understand from this data is that there are **67 Gas Stations in Regina**. This excludes the first row that is the table header.